build
examples/CustomVariables/build
examples/CustomVariables/install
install
.vscode
filelist.txt
sum_of_weights.txt
***/__pycache__/
www/
.cache
**/.asetup.save
# Ignore condor submission scripts
python/BatchConfig.yml
python/condor_submit.sub
python/slurm_submit_array.sh
python/inputSamples.txt
python/runFF.sh
